@import "style";

html {
    margin: 0;
}


body {
    background: #a62121;
    width: 100vw;
    min-height: 100vh;
    margin: 0;
  
    .vertical-container {
        margin: 0;
        display: grid;
        grid-auto-flow: row;
        height: 100vh;
        width: 100vw;
        // overflow-x: hidden;
        overflow-y: scroll;
        // overscroll-behavior-y: contain;
        scroll-snap-type: y mandatory;
        scroll-behavior: smooth; 
        -ms-overflow-style: none;  /*  hide  scrollbar // IE and Edge */
        scrollbar-width: none;  /*   hide scrollbar // Firefox */  

        .my-nav {

            // position: absolute !important;
            width: 100vw;
            height: 60px;
            background-color: rgb(255, 255, 255);
            // position: sticky;
            // top: 0;
            // left: 0;
            // z-index: 1;
            display: flex;
            justify-content: space-around;
            align-items: center;
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2); 
            // width: 100vw;
            // height: 70px;
            // background-color: rgb(255, 255, 255);
            // @include nav-bar-style;
        }     
  
        .section-vertical {
            
            display: flex;   
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            color: white;
            width: 100vw;
            min-height: 100vh;
            scroll-snap-align: start;
            

            .section-wrapper {
                // position: relative;
                width: 100%;
                height: 100vh;
                padding-top: 50px;
                // padding-bottom: 100px;
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .icon {
                padding-bottom: 50px;
            }

            .section-top {
                display: flex;
                justify-content: center;
                align-items: center;
            }

        &:nth-of-type(1) {
            background: #49b293;
        }
  
        &:nth-of-type(2) {
            background: #c94e4b;
        }
  
        &:nth-of-type(3) {
            background: #4cc1be;
        }
  
        &:nth-of-type(4) {
            background: #8360A6;
        }

        .top-arrow {
            transform: rotate(-90deg);
        }

        .down-arrow {
            transform: rotate(90deg);
        }

        .article {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        h1 {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 3rem;
            text-align: center;
        }

  
    }

        
}
}

.vertical-container::-webkit-scrollbar {
    display: none;
}   

@media screen and (min-width: 280px) and (max-width: 1024px) {
    
    .vertical-container {
        
        .section-vertical {
            overflow-y: scroll !important;
            min-height: 100vh;
        }
    }
}

@media screen and (min-width: 1024px) {

    .section-vertical {
        padding-top: 100px;

        .my-nav {
            @include nav-bar-style;
        }
    }
}
    
